page-home {

    img {
        max-width: 100px;
        margin: auto;
        
    }
    audio {
        margin-left: 0px;
        padding-left: 0px;
    }
    div {
        text-align: center;
                
    }

}